@import url(http://fonts.googleapis.com/css?family=Fauna+One|Special+Elite);

$them_color : #34aadc;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font: 14px/1 'Fauna One', serif;
}

@mixin clearfix(){

  &:before, &:after {
	content: ' ';
	display: table;
  }

  &:after{
	clear: both;
  }
}

//COMPONENTS
.btn {
  text-align: center;
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  color: $them_color;
  border-radius:5px;
  border: none;

  &.bordered{
	border: 1px solid $them_color;
	padding: 4px 8px;
  }

  &.btn-danger {
	color: #ff3b30;
	border-color: #ff3b30;
  }

  &.btn-white {
	color: white;
	border-color: white;
  }



}



//STRUCTURE

nav	{
  background-color: $them_color;
  > div {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px 0 6px;
	@include clearfix();

	.brand {
	  float: left;
	  color: white;
	  font:28px/1 'Special Elite', cursive;
	  padding-top: 5px;
	}

	.login {
	  float: right;
	  color: white !important;
	}

	.login-button {
	  border-color: rgba(255,255,255,.5) !important;
	  color: rgba(255,255,255,.5) !important;
	  background: transparent!important;

	  &:hover {
		border-color: rgba(0,0,0,.5) !important;
		background: #{darken($them_color, 13%)} !important;
		color:white !important;
	  }


	  &#login-buttons-google {
		border-color: black !important;
		color: rgba(255,255,255,1) !important;
		background: #ff2d55 !important;

		&:hover {
		  border-color: rgba(0,0,0,1) !important;
		  background: #{darken(#ff2d55, 13%)} !important;
		  color:white !important;
		}
	  }
	}
  }
}

header, .new-thread, .new-comment{
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.new-thread, .new-comment {
  bottom: 0;

  input {
	border: none;
	height: 50px;
	padding: 17px;
	font-size: 16px;
	width: 100%;
	line-height: 16px;
	background-color: rgba(0,0,0,.04);

	&:hover, &:focus, &:active {
	  outline: none!important;
	  box-shadow: inset 0 0 5px rgba(0,0,0,.2);

	}
  }
}

.new-thread{
  input {
	border-radius: 0 0 0 5px;
  }
}

.new-comment{
  input {
	border-radius: 0 0 5px 0;
  }
}

.posts, .post {
  display: table-cell;
  height: 600px;
  position: relative;
  vertical-align: top;
  transition: all ease 300ms;
}

.posts {
  width: 40%;
  border-right: 1px solid #ebebeb;
  box-shadow: 0 0 3px rgba(0,0,0,.1);
  z-index: 2;

  header {
	top: 0;
	background-color: lighten($them_color, 15%);
	color: white;
	h2 {
	  height: 50px;
	  font-size: 21px;
	  text-align: center;
	  line-height: 50px;
	  position: relative;
	  z-index: 1;
	  font-weight: normal;
	}
	.btn {
	  position: absolute;
	  z-index: 2;
	  right: 0;
	  top: 12px;
	  right: 12px;

	}
  }

  .threads{
	position: relative;
	padding: 50px 0;
	width: 100%;
	max-height: 500px;
	overflow: hidden;
	overflow-x: scroll;;
	z-index: 1;

	.thread {
	  border-bottom: 1px dashed #f4f4f4;
	  margin: 0 15px;
	  padding:15px 0;
	  @include clearfix();

	  .avatar {
		float: left;

		&, img {
		  border-radius: 50%;
		  width: 70px;
		  height: 70px;
		  box-sizing: content-box;
		}

		img {
		  background-color: #ccc;
		}

	  }

	  .message {
		margin-left: 85px;

		.user {
		  color: $them_color;
		  margin-bottom: 5px;
		}

		time {
		  display: block;
		  color: #ccc;
		  margin-bottom: 8px;
		}

	  }

	}
  }

}

.post {
  width: 60%;
  z-index: 1;
  background-color: #fafafa;
  position: relative;

  article {
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	@include clearfix();

	.user {
	  width: 90px;
	  float: left;
	  text-align: center;

	  img {
		height: 90px;
		width: 90px;
		border:none;
		background-color: #f4f4f4;
		border-radius: 5px;
		overflow: hidden;
	  }
	}

	.message {
	  margin-left: 100px;

	  .user-name {
		font-weight: bold;
		color: #007aff;
		font-size: 16px;
		padding-bottom: 5px;
		border-bottom: 1px dashed #fbfbfb;
	  }
	  
	  p {
		margin-bottom: 8px;
	  }
	}

  }

  .comments{
	padding: 10px;

	.comment {
	  @include clearfix();
	  margin-bottom: 10px;

	  .user {
		float: left;
		position: relative;
		border-radius: 50%;

		&, img{
		  box-sizing: content-box;
		  width: 40px;
		  height: 40px;
		  overflow: hidden;
		  background-color: #ccc;
		  border: none;
		}
	  }

	  .message {
		padding: 10px;
		margin: 0 50px;
		background-color: lighten($them_color, 30%);
		color: #555;
		border-radius: 10px;
		position: relative;

		span {
		  display: block;
		  color: darken($them_color, 15%);
		  margin-bottom: 8px;
		  font-size: 14px;
		}

		.editable-message {
		  font-style:italic;
		}

		&:after{
		  position: absolute;
		  display: block;
		  left: -8px;
		  top:15px;
		  content: " ";
		  border-right:8px solid #{lighten($them_color, 30%)};
		  border-bottom: 5px solid transparent;
		  border-top: 5px solid transparent;
		}
	  }

	  &.me {
		.user {
		  float: right;
		}
		.message {
		  //color: black;
		  background-color: #eee;
		  &:after {
			border-right:none;
			border-left:8px solid #eee;
			right: -8px;
			left: auto;
		  }

		  text-align: right;

		  span{
			color: $them_color;
		  }
		}
	  }
	}
  }
}


.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  display: table;
  background-color: white;
  border-radius: 5px;

  &.posts-only {

	.post {
	  display: none;
	}

	.posts {
	  width: 100%;
	}

  }
}
