* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }



html, body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font: 14px/1 'Fauna One', serif; }

.intro {
  font-size: 36px;
  color: #34aadc;
  line-height: 50px;
  text-align: center;
  margin-top: 15%; }
  .intro div {
    margin-bottom: 40px;
    font: 75px/1 'Special Elite', cursive;
    color: #ff3636; }

time {
  display: block;
  color: #ccc;
  margin-bottom: 8px;
  font-size: 12px; }
  time.pull-right {
    width: auto;
    margin-bottom: 0; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table; }
.clearfix:after {
  clear: both; }

.pull-right {
  float: right; }

.btn {
  text-align: center;
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  color: #34aadc;
  border-radius: 5px;
  border: none; }
  .btn.bordered {
    border: 1px solid #34aadc;
    padding: 4px 8px; }
  .btn.btn-danger {
    color: #ff3b30;
    border-color: #ff3b30; }
  .btn.btn-white {
    color: white;
    border-color: white; }

nav {
  background-color: #34aadc; }
  nav > div {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0 6px; }
    nav > div:before, nav > div:after {
      content: ' ';
      display: table; }
    nav > div:after {
      clear: both; }
    nav > div .brand {
      float: left;
      color: white;
      font: 28px/1 'Special Elite', cursive;
      padding-top: 5px; }
    nav > div .login {
      float: right;
      color: white !important; }
    nav > div .login-button {
      border-color: rgba(255, 255, 255, 0.5) !important;
      color: rgba(255, 255, 255, 0.5) !important;
      background: transparent !important; }
      nav > div .login-button:hover {
        border-color: rgba(0, 0, 0, 0.5) !important;
        background: #1e84af !important;
        color: white !important; }
      nav > div .login-button#login-buttons-google {
        border-color: black !important;
        color: white !important;
        background: #ff2d55 !important; }
        nav > div .login-button#login-buttons-google:hover {
          border-color: black !important;
          background: #ea002d !important;
          color: white !important; }

header, .new-thread, .new-comment {
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 2; }

.new-thread, .new-comment {
  bottom: 0; }
  .new-thread input, .new-comment input {
    border: none;
    height: 50px;
    padding: 17px;
    font-size: 16px;
    width: 100%;
    line-height: 16px;
    background-color: rgba(0, 0, 0, 0.04); }
    .new-thread input:hover, .new-thread input:focus, .new-thread input:active, .new-comment input:hover, .new-comment input:focus, .new-comment input:active {
      outline: none !important;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); }

.new-thread input {
  border-radius: 0 0 0 5px; }

.new-comment input {
  border-radius: 0 0 5px 0; }

.posts {
  width: 40%;
  border-right: 1px solid #ebebeb;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 2; }
  .posts header {
    top: 0;
    background-color: #75c5e7;
    color: white; }
    .posts header h2 {
      height: 50px;
      font-size: 21px;
      text-align: center;
      line-height: 50px;
      position: relative;
      z-index: 1;
      font-weight: normal; }
    .posts header .btn {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 12px;
      right: 12px; }
  .posts .threads {
    position: relative;
    margin: 50px 0;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1; }
    .posts .threads .thread {
      border-bottom: 1px dashed #f4f4f4;
      padding: 15px;
      cursor: pointer; }
      .posts .threads .thread:before, .posts .threads .thread:after {
        content: ' ';
        display: table; }
      .posts .threads .thread:after {
        clear: both; }
      .posts .threads .thread:hover {
        background-color: #fafafa; }
      .posts .threads .thread .avatar {
        float: left; }
        .posts .threads .thread .avatar, .posts .threads .thread .avatar img {
          border-radius: 50%;
          width: 70px;
          height: 70px;
          box-sizing: content-box; }
        .posts .threads .thread .avatar img {
          background-color: #ccc; }
      .posts .threads .thread .message {
        margin-left: 85px; }
        .posts .threads .thread .message .user {
          color: #34aadc;
          margin-bottom: 5px; }

.post {
  width: 60%;
  z-index: 1;
  background-color: #fafafa;
  position: relative; }
  .post article {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative; }
    .post article:before, .post article:after {
      content: ' ';
      display: table; }
    .post article:after {
      clear: both; }
    .post article > div {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.9); }
    .post article .user, .post article .message {
      position: relative;
      z-index: 2;
      background-color: transparent; }
    .post article .user {
      width: 90px;
      float: left;
      text-align: center; }
      .post article .user img {
        height: 90px;
        width: 90px;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        transition: all 300ms ease; }
    .post article:hover .user img {
      border-radius: 50%; }
    .post article .message {
      margin-left: 100px; }
      .post article .message .user-name {
        font-weight: bold;
        color: #007aff;
        font-size: 14px;
        height: 18px;
        padding-bottom: 5px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.2); }
      .post article .message p {
        margin: 8px 0;
        font-size: 16px; }
  .post .comments {
    padding: 15px;
    max-height: 735px;
    overflow: hidden;
    overflow-y: auto; }
    .post .comments .comment {
      margin-bottom: 15px; }
      .post .comments .comment:before, .post .comments .comment:after {
        content: ' ';
        display: table; }
      .post .comments .comment:after {
        clear: both; }
      .post .comments .comment .user {
        float: left;
        position: relative;
        border-radius: 50%; }
        .post .comments .comment .user, .post .comments .comment .user img {
          box-sizing: content-box;
          width: 40px;
          height: 40px;
          overflow: hidden;
          background-color: #ccc;
          border: none; }
      .post .comments .comment .message {
        padding: 10px;
        margin: 0 50px;
        background-color: #b7e1f3;
        color: #555;
        border-radius: 10px;
        position: relative; }
        .post .comments .comment .message .username {
          color: #1d7ea7;
          margin-bottom: 8px;
          font-size: 14px;
          height: 14px; }
          .post .comments .comment .message .username time {
            color: rgba(0, 0, 0, 0.4); }
        .post .comments .comment .message .editable-message {
          font-style: italic; }
        .post .comments .comment .message:after {
          position: absolute;
          display: block;
          left: -8px;
          top: 15px;
          content: " ";
          border-right: 8px solid #b7e1f3;
          border-bottom: 5px solid transparent;
          border-top: 5px solid transparent; }
      .post .comments .comment .action {
        text-align: right; }
      .post .comments .comment.me .user {
        float: right; }
      .post .comments .comment.me .message {
        background-color: #eee;
        text-align: right; }
        .post .comments .comment.me .message:after {
          border-right: none;
          border-left: 8px solid #eee;
          right: -8px;
          left: auto; }
        .post .comments .comment.me .message span {
          color: #34aadc; }

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: table;
  background-color: white;
  border-radius: 5px; }
  .wrapper .posts, .wrapper .post {
    display: table-cell;
    height: 100%;
    position: relative;
    vertical-align: top;
    transition: all ease 300ms; }
  .wrapper.posts-only .post {
    display: none; }
  .wrapper.posts-only .posts {
    width: 100%; }

@media (max-width: 1015px) {
  body {
    padding-top: 50px; }

  nav {
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0; }
    nav > div {
      padding-left: 15px;
      padding-right: 15px; }

  .wrapper {
    margin: 0; }

  .wrapper, .new-thread, .new-comment {
    border-radius: 0 !important; } }
